/* .row1{
    text-align: center;
    color: aqua;
}
.row2{
    text-align: center;
}
.col1-d-3{
    text-align: center;
    color: aqua;
}
input[type = "text1"]{
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    width: 500px;
    border-radius: 0px;
}
button[type ="button"]{
    margin-left: 10px;
    margin-bottom: 8px;
    
}
.img1{
    margin-left: 1500px;
    margin:5px;
    padding-right: 5px;
    height: 50px;
    width:50px;
}
.img2{
    margin:5px;
    padding-right: 5px;
    height: 50px;
    width:50px;
}
.img3{
    margin:5px;
    padding-right: 5px;
    height: 60px;
    width:50px;
}
.img4{
    margin:5px;
    padding-right: 5px;
    height: 60px;
    width:50px;
}
.img5{
    margin:5px;
    padding-right: 5px;
    height: 60px;
    width:50px;
} */

/* .footerParent{
    position: fixed;
} */

.footerStyle{
    background-color: rgba(0, 0, 0, 0.2);
}   

.footerParent{
    clear: both;
}

