*{
    margin: 0;
    padding: 0;
}
.indiacard-heading{
    margin-left: 1.5%;
}
.indiacard-details{
    margin-left: 1.5%;
}
.row{
    margin: 0.5%;
}

.indiacard-heading{
    font-size: xxx-large;
}

.indiacard-details{
    font-size: large;
}

@media screen and (max-width:320px){
    .IPcards{
        margin-top: 10px;
    }
}

/* .card-body{
    background-color:  #0081B4;;
    color: white;
} */
/* .row img{
    opacity: 0.5;
} */