/* *{
    margin: 0;
    padding: 0;
} */

/* .search-container{
    height:50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #ffff!important;
}

.search-box{
    height: 30px;
    width: 0px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ffff;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 10px 25px black;
    transition: 0.8s;
}

.search-box:hover input{
    width: 400px!important;
}

.search-box:hover{
    width: 400px !important;
}


.search-box input{
    width: 0!important;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.9s;
    background-color: transparent;
}

.search-box a .fas{
    color: aquamarine;
    font-size: 10px;
}
 */


 /* ---------------------------------------------------------------------------------------------------- */


 .searchBar-parent{
    height: auto;
    width: 100%;
    background-image:url('../Media/water5_2.jpg');
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 0.8; */
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.searchQuote{
    font-size: 3vw;
    color: #ffff;
    font-family: 'Lora', serif !important;
    font-style: italic;
    text-transform: capitalize;
}

.search-container{
    height:100vh;
    display: flexsearch-box !important;
    justify-content: center;
    align-items: center;
    background-color: aquamarine!important;
}

.search-box{
    height: 30px;
    width: 400px !important;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #ffff;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 10px 25px black;
    transition: 0.8s;
}

/* .search-box:hover input{
    width: 400px!important;
} */

/* .search-box:hover{
    width: 400px !important;
} */


.search-box input{
    width: 400px !important;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.9s;
    background-color: transparent;
}

.search-box a .fas{
    /* color: aquamarine; */
    font-size: 10px;
}

.searchIcon{
   font-weight: bold;
}



@media screen and (max-width: 320px){

    .search-box{
        width: 200px !important;
    }

    .search-box input{
        width: 160px!important;
    }
    
}
