.faq-heading{
    font-size: 25px;
    font-weight: bold;
}
.faq-question{
    color: grey;
    font-weight: bold;
}
.faq-question .q{
    color: #99b3e6;
} 
.faq-answer{
    border-bottom: 1px solid grey;
}
.faq-content{
    background-color: aliceblue;
}