.packages-cards-heading{
    margin:10px;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}
.package-filter{
    width:20%;
}
.package-filter-heading{
    font-weight: bold;
    font-size: 24px;
}
.package-filter{
    background-color:white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    padding: 10px;
    float: left;
    margin-right: 20px;
}
.package-filter-heading{
    border-bottom: 1px solid grey;
}
.package-class-heading{
    margin-top: 20px;
    border-bottom: 1px solid grey;
}
.package-filter-whereto{
    margin-top: 20px;
}
.package-filter-startdate{
    margin-top: 20px;
}
.package-filter-whereto input{
    width: 100%;
}
.package-filter-startdate input{
    width: 100%;
}
label {
    padding: 4px 6px;
    line-height: 190%;
    outline-style: none;
    transition: all .6s;
}
.package-type-heading {
    border-bottom: 1px solid grey;
}
.package-type-content{
    list-style: none;
  }
.package-type-content label {  
    cursor: pointer;
}
.packages-cards-content-row{
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin: 20px;
    border-radius: 10px;
}
.packages-cards-content-text .card-title{
    font-size: 20px;
    font-weight: bold;
}
.packages-cards-content-text i{
    margin-right: 10px;
}
.CardlastSec{
    text-align: center;
    font-weight: bold;
    color: #808080;
}
.CardlastSec button{
      background: #5E5DF0;
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 18px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      width: fit-content;
      word-break: break-word;
      border: 0;
}