.packages-cards-heading{
    margin:10px;
    font-size: 30px;
    text-align: center;
    font-style: italic;
}
.package-filter{
    width: 25%;
    background-color: white;
    height:700px;
    float: left;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}
.package-filter-heading{
    font-weight: bold;
    font-size: 24px;
}
.packages-cards-content{
    width: 75%;
    height: auto;
    float: left;
}
.packages-cards-content-row{
    padding: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.packages-cards-content-text .card-title{
    font-size: 20px;
    font-weight: bold;
}

.packages-cards-content-text i{
    margin-right: 10px;
}
.CardlastSec{
    text-align: center;
    font-weight: bold;
    color: #808080;
    font-size: 20px;
}
.CardlastSec button{
      background: #5E5DF0;
      border-radius: 999px;
      box-shadow: #5E5DF0 0 10px 20px -10px;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      opacity: 1;
      outline: 0 solid transparent;
      padding: 8px 20px;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      word-break: break-word;
      border: 0;
      margin-bottom: 10px;
      width: fit-content;
}

.package-filter-heading{
    border-bottom: 1px solid ;
}
.package-class-heading{
    margin-top: 20px;
    border-bottom: 1px solid grey;
}
.package-filter-whereto{
    margin-top: 20px;
}
.package-filter-startdate{
    margin-top: 20px;
}
.package-filter-whereto input{
    width: 100%;
}
.package-filter-startdate input{
    width: 100%;
}
label {
    padding: 4px 6px;
    line-height: 190%;
    outline-style: none;
    transition: all .6s;
}
.package-type-heading {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.package-type-content{
    list-style: none;
  }
.package-type-content label {  
    cursor: pointer;
    color: grey;
}
.filter-button{
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.filter-button:hover,
.filter-button:focus {
  opacity: .75;
}