.holiday-parent {
    width: 100%;
    height: auto;
    /* background-color:#ECF2FF; */
    background-image: url('../Media/theme2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    margin-bottom: 10px;
    padding-bottom: 10px;
    opacity: 1;
}

.holiday-text {
    text-align: center;
    font-size: x-large;
    font-style: italic;
    color: white;
}

.holiday-details{
   height: 90px;
   background-color: #fff;
   display: grid;
   /* align-items: center; */
}

.card-child-image{
    height: 50px;
    width: 90%;
    display: flex;
    justify-self: center;
    background-image:url('/public/andaman.jpg');
    background-size:cover ;
}    

.holidayText{
   font-size: xxx-large;
}

.holiday-subtext{
    font-size: large!important;
    font-weight: bolder;
    color: #fff;
}