.body{
    margin: 0px;
    padding: 0px;
}

.topNav{
    width: 100%;
    height: auto;
    background-color: #ffff;
}

.navParent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navItem1{
   font-size: medium;
}

.navItem1:hover{
    color: #0081B4;
}

.navLoginBtn{
   text-decoration: none!important;
   color: black;
}

.navLoginBtn:hover{
    color: #0081B4;
}

.navReginBtn{
    text-decoration: none!important;
    color: black;
 }

 .navReginBtn:hover{
    color: #0081B4;
}
 


/* .navItem2{
    display: flex;
    justify-self: flex-end;
} */


