* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body {
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    /* height: 100vh; */
}

/* .container{
    height: 100vh;
} */
.body1 i {
    margin-left: 5px;
    color: rgb(240, 131, 72);
}

.body1 h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 25px;

}

.body1 p {
    font-size: 30px;
    font-family: serif;
}

.body1 p1 {
    font-size: 19px;
    font-family: serif;
    color: rgb(240, 131, 72);

}

.body1 p2 {
    font-size: 19px;
    font-family: serif;
}

.card-img-top {
    border-radius: 10px;
}

.PNavbar{
margin-top: 5px;
}

.PNavbar1 Navlink{
    padding-left: 5px;
    padding-left: 5px;
}


/* ------------------------------------------------------- */
.Overview {
    margin-left: 5px;
    margin-right: 5px;
    text-align: justify;
}

.Overview p1 {
    font-size: 30px;
    font-family: serif;
}

.Overview hr {
    color: #e36302;
}

.Overview p i {
    color: rgb(54, 212, 1);
}

.Overview p2 {
    font-size: 30px;
    font-family: serif;
}

.Overview p3 {
    font-size: 30px;
    font-family: serif;
}

.Overview p4 {
    font-size: 24px;
    font-family: serif;
}

.Overview p5 {
    font-size: 24px;
    font-family: serif;
}

.Overview p6 {
    font-size: 24px;
    font-family: serif;
}

/* ---------------------------------------------------- */

.Left-container {
    height: 100%;
    width: 50%;
    float: left;
    padding-right: 30px;
}